            <a class="skipnav" href="#main-content">Skip main navigation</a>

            


            <header role="banner" class="fixed-header {{ page.layout }}">
                <div class="header">
                <div id="top-nav-custom">
                    <div >
                    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                        
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6">
                        <div class="text-right gov-of-ja">
                            <span style="position: relative;">GOVERNMENT OF JAMAICA</span>
                            <img src='{{ site.baseurl }}/assets/img/jam.jpg' style="height: 14px; position: relative;" alt="jamaica flag" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                        </div>
                </div>
                <div class="container">
                    <div id="logo-area" class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <div class="row">
                                <div class="col-xs-1">
                                     <a href='./' class="logo-text-main">
                                    <img src='{{ site.baseurl }}/assets/img/STATIN%20Logo.png' class="logo" alt="STATIN logo" />
                                         </a>
                                </div>
                                <div class="col-xs-7">
                                    <div class="logo-name"> <a href='./' class="logo-text-main">Statistical Institute of Jamaica</a></div>
                                    <div class="mobile-logo-name">STATIN</div>
                                    <div class="tag-line">We Collect. We Analyse. We Publish</div>
                                </div>
                                <div class="col-xs-3">
                                 <a href="https://facebook.com/STATINJA/" target="_blank" class="no-hov">
                             <i class="fa fa-facebook facebook"></i>
                            
                                </a>
                            <a href="#" class="no-hov">
                                <i class="fa fa-youtube youtube" ></i>
                            </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-3 col-md-3">
                            <div id="search-area">
                                <div class="search-area-text">Search<i class="fa fa-search"></i></div>
                                <div class="search-area-option">
                                    <div id="subject" data-toggle="modal" data-target="#myModalsearch">
                                        Browse by subject
                                    </div>
                                </div>
                                <div class="search-area-option">
                                    <div id="search-result" data-toggle="modal" data-target="#myModalsearch">
                                        Search Statistics
                                    
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="clearfix"></div>
                    </div>            
                </div>

                </div>


                <div class="usa-disclaimer {{ site.github.environment }} {{ jekyll.environment }}">
                    <div class="usa-grid">
                        <span class="usa-disclaimer-official">
                          {% if site.github.environment == 'dotcom' %}
                            <!-- This is a staging site used to update and preview indicator data -->
                          {% else %}
                            <!-- This is an official website of the United States government                           -->
                          {% endif %}
                        </span>
                        <span class="language-toggle">
                        {% if page.lang == 'en' %}
                          <a class='pull-right lang es' data-lang='es' href='{{site.baseurl}}/es{{page.url | remove: 'index.html'}}'>Español</a>
                        {% else %}
                          <a class='pull-right lang'  data-lang='en' href='{{site.baseurl}}{{page.url | replace_first:'/es', ''}}'>English</a>
                        {% endif %}
                        </span>
                        {% if site.github.environment == 'dotcom' %}
                          <a href="{{ site.baseurl }}/admin" class="login-link">Login / Logout</a>
                        {% endif %}
                        <span class="usa-disclaimer-stage">{{ t.disclaimer-wip }}</span>
                    </div>
                </div>
                {% if page.layout != 'splash' %}
                <a href="{{ site.baseurl }}/statistics" class="logo-home-mobile"><h1>Sustainable Development Goals</h1></a>

                <nav class="site-navbar nav-collapse usa-grid">
                  <a href="{{ site.baseurl }}/statistics" class="logo-home"><h1>Sustainable Development Goals</h1></a>

                  <ul class="usa-unstyled-list">
                      <li class="nav-item"><a href="{{ site.baseurl }}{{ lang }}/status">{{ t.nav-reporting-status }}</a></li>
                      <li class="nav-item"><a href="{{ site.baseurl }}{{ lang }}/statistics">{{ t.nav-statistics }}</a></li>
                      <li class="nav-item"><a href="{{ site.baseurl }}{{ lang }}/training">{{ t.nav-training }}</a></li>
                      <li class="nav-item"><a href="{{ site.baseurl }}{{ lang }}/faq">{{ t.nav-faq }}</a></li>
                  </ul>
                </nav>
                {% endif %}

            </header>
