<script type="text/javascript">

/**
 * An implementation of a data source for indicator data using local CSV files.
 */

var sdg_indicators = sdg_indicators || {};

(function() {

  /**
   * Helper function for converting tidy to wide data.
   *
   * @param tidy
   *   The tidy CSV data already loaded.
   * @param columnsToExclude
   *   An array of columns, which should correspond to properties on data rows.
   * @return
   *   An array of data row objects, in wide format.
   */
  function tidyToWide(tidy, columnsToExclude) {

    var rows = $.csv.toObjects(tidy);
    var columns = Object.keys(rows[0]);

    if (columnsToExclude) {
      columns = columns.filter(function(x) { return columnsToExclude.indexOf(x) === -1; });
    }

    // For tidy CSV, the main series is the one with only "year" and "value".
    var otherCols = columns.filter(function(x) { return x != 'year' && x != 'value'; });
    var mainSeries = rows.filter(function(x) { return otherCols.every(function(y) { return !x[y]; })});

    // For the data table we want to convert tidy to wide. Each value in the
    // non-value/year columns can be a separate column in the wide format.
    var wide = {};
    // First add the main series.
    mainSeries.forEach(function(row) {
      wide[row.year] = { year: row.year, all: row.value };
    });
    // Add other columns if necessary.
    if (otherCols) {
      rows.forEach(function(row) {
        otherCols.forEach(function(otherCol) {
          if (row[otherCol]) {
            wide[row.year][row[otherCol]] = row.value;
          }
        });
      });
    }

    // Return in array format.
    return Object.values(wide);
  }

  /**
   * Helper to get a re-arranged array of columns of a datatable.
   *
   * @param rowObject
   *   An object containing properties, which will be used as column names.
   * @return
   *   An array of columns (object properties), re-arranged.
   */
  function arrangeColumns(rowObject) {
    var columns = Object.keys(rowObject);
    columns = columns.filter(function(x) { return x != 'year' && x != 'all'; });
    columns.sort();
    columns.unshift('year', 'all');
    return columns;
  }

  // Implement the indicatorMapAdapter method.
  sdg_indicators.indicatorMapAdapter = function(e) {
    // Get our base configuration for the map.
    var config = sdg_indicators.getMapConfig();
    // Add specific data for this indicator.
    config.data = $.csv.toObjects(e.detail.tidy);
    config.indicator_id = e.detail.indicator_id;
    // Display the map.
    sdg_indicators.indicatorMap(config);
    // Display the subnational table. Convert tidy to wide again, this time
    // without excluding the regional columns.
    var rows = tidyToWide(e.detail.tidy);
    var columns = arrangeColumns(rows[0]);
    sdg_indicators.indicatorTable(columns, rows, 'states-' + e.detail.indicator_id + '.csv', 'map-container');
  }

  // Implement the indicatorTableAdapter method.
  sdg_indicators.indicatorTableAdapter = function(e) {
    var columns = arrangeColumns(e.detail.wide[0]);
    sdg_indicators.indicatorTable(columns, e.detail.wide, e.detail.indicator_id + '.csv');
  };

  {% case include.graph_type %}
  {% when 'line' %}
  // Implement the indicatorGraphLineAdapter method.
  sdg_indicators.indicatorGraphLineAdapter = function(e) {
    sdg_indicators.indicatorGraphLine(e.detail.years, e.detail.values);
  };
  {% when 'line-rate' %}
  // Implement the indicatorGraphLineRateAdapter method.
  sdg_indicators.indicatorGraphLineRateAdapter = function(e) {
    sdg_indicators.indicatorGraphLineRate(e.detail.years, e.detail.values);
  };
  {% when 'bar' %}
  // Implement the indicatorGraphBarAdapter method.
  sdg_indicators.indicatorGraphBarAdapter = function(e) {
    sdg_indicators.indicatorGraphBar(e.detail.years, e.detail.values);
  };
  {% when 'bar-rate' %}
  // Implement the indicatorGraphBarRateAdapter method.
  sdg_indicators.indicatorGraphBarRateAdapter = function(e) {
    sdg_indicators.indicatorGraphBarRate(e.detail.years, e.detail.values);
  };
  {% when 'binary' %}
  // Implement the indicatorGraphBinaryAdapter method.
  sdg_indicators.indicatorGraphBinaryAdapter = function(e) {
    sdg_indicators.indicatorGraphBinary(e.detail.years, e.detail.values);
  };
  {% endcase %}

  // Guess the CSV file name.
  {% assign slug = page.indicator | replace: '.', '-' %}
  {% assign dataset_name = 'indicator_' | append: slug %}
  var csv_path = '{{ site.baseurl }}/data/tidy/{{ dataset_name }}.csv';

  // Grab the CSV data.
  $.when($.get(csv_path)).then(function(data) {

    // Convert to wide, without regional data. We exclude regional data here
    // because it will be sectioned off into its own tab.
    var columnsToExclude = ['region'];
    var wide = tidyToWide(data, columnsToExclude);

    document.dispatchEvent(new CustomEvent('IndicatorDataReady', {
      detail: {
        // A single series for the visualizations.
        years: wide.map(function(x) { return x.year; }),
        values: wide.map(function(x) { return x.all; }),
        // All of the data for the data table.
        wide: wide,
        // Tidy data for the map.
        tidy: data,
        indicator_id: '{{ slug }}'
      }
    }));
  });
})();

</script>