<script type="text/javascript">

/**
 * An implementation of a data source for indicator data using local CSV files.
 */

var sdg_indicators = sdg_indicators || {};

(function() {

  /**
   * Helper function for converting tidy to wide data.
   *
   * @param tidy
   *   The tidy CSV data already loaded.
   * @param columnToExclude
   *   A column in the tidy data which should be excluded from the wide data.
   * @return
   *   An array of data row objects, in wide format.
   */
  function tidyToWide(tidy, columnToExclude) {

    var rows = $.csv.toObjects(tidy);
    var columns = Object.keys(rows[0]);

    // Filter out unneeded rows and columns.
    if (columnToExclude) {
      rows = rows.filter(function (x) { return !x[columnToExclude]; });
      columns = columns.filter(function(x) { return x != columnToExclude; });
    }

    // If the tidy data has no disaggregation, then this is quick and easy.
    var otherCols = columns.filter(function(x) { return x != 'year' && x != 'value'; });
    if (!otherCols.length) {
      return rows.map(function(x) {
        return {
          year: x.year,
          all: x.value
        };
      });
    }

    // Otherwise we loop through to fill in values and simultaneously construct
    // an object with empty values for all possible columns.
    var wide = {};
    var wideColumns = {};
    rows.forEach(function(row) {
      if (!wide[row.year]) {
        wide[row.year] = { year: row.year };
      }
      if (otherCols.some(function(x) { return row[x]; })) {
        // If the row has extra columns, use their values as wide columns.
        otherCols.forEach(function(col) {
          if (row[col]) {
            wide[row.year][row[col]] = row.value;
            // While we're here, note this column for later.
            wideColumns[row[col]] = '';
          }
        });
      }
      else {
        // Otherwise fill in the 'all' column to represent an 'aggregate' row.
        wide[row.year]['all'] = row.value;
      }
    });

    // Now we normalize the wide rows to make sure each row has all columns.
    var wideValues = Object.keys(wide).map(function(e) {
      return wide[e]
    });
    wide = wideValues.map(function(row) {
      Object.keys(wideColumns).forEach(function(column) {
        if (!row[column]) {
          row[column] = '';
        }
      });
      return row;
    });

    return wide;
  }

  /**
   * Helper to get a re-arranged array of columns of a datatable.
   *
   * @param rowObject
   *   An object containing properties, which will be used as column names.
   * @return
   *   An array of columns (object properties), re-arranged.
   */
  function arrangeColumns(rowObject) {
    var columns = Object.keys(rowObject);
    columns = columns.filter(function(x) { return x != 'year' && x != 'all'; });
    columns.sort();
    columns.unshift('year', 'all');
    return columns;
  }

  // Implement the indicatorMapAdapter method.
  sdg_indicators.indicatorMapAdapter = function(e) {
    // Get our base configuration for the map.
    var config = sdg_indicators.getMapConfig();
    // Add specific data for this indicator.
    config.data = $.csv.toObjects(e.detail.tidy);
    config.indicator_id = e.detail.indicator_id;
    // Display the map.
    sdg_indicators.indicatorMap(config);
    // Display the subnational table. Convert tidy to wide again, this time
    // without excluding the regional columns.
    var rows = tidyToWide(e.detail.tidy);
    var columns = arrangeColumns(rows[0]);
    sdg_indicators.indicatorTable(columns, rows, 'states-' + e.detail.indicator_id + '.csv', 'map-container');
  }

  // Implement the indicatorTableAdapter method.
  sdg_indicators.indicatorTableAdapter = function(e) {
    var columns = arrangeColumns(e.detail.wide[0]);
    sdg_indicators.indicatorTable(columns, e.detail.wide, e.detail.indicator_id + '.csv');
  };

  {% case include.graph_type %}
  {% when 'line' %}
  // Implement the indicatorGraphLineAdapter method.
  sdg_indicators.indicatorGraphLineAdapter = function(e) {
    sdg_indicators.indicatorGraphLine(e.detail.years, e.detail.values);
  };
  {% when 'line-rate' %}
  // Implement the indicatorGraphLineRateAdapter method.
  sdg_indicators.indicatorGraphLineRateAdapter = function(e) {
    sdg_indicators.indicatorGraphLineRate(e.detail.years, e.detail.values);
  };
  {% when 'bar' %}
  // Implement the indicatorGraphBarAdapter method.
  sdg_indicators.indicatorGraphBarAdapter = function(e) {
    sdg_indicators.indicatorGraphBar(e.detail.years, e.detail.values);
  };
  {% when 'bar-rate' %}
  // Implement the indicatorGraphBarRateAdapter method.
  sdg_indicators.indicatorGraphBarRateAdapter = function(e) {
    sdg_indicators.indicatorGraphBarRate(e.detail.years, e.detail.values);
  };
  {% when 'binary' %}
  // Implement the indicatorGraphBinaryAdapter method.
  sdg_indicators.indicatorGraphBinaryAdapter = function(e) {
    sdg_indicators.indicatorGraphBinary(e.detail.years, e.detail.values);
  };
  {% endcase %}

  // Guess the CSV file name.
  {% assign slug = page.indicator | replace: '.', '-' %}
  {% assign dataset_name = 'indicator_' | append: slug %}
  var csv_path = '{{ site.baseurl }}/data/tidy/{{ dataset_name }}.csv';

  // Grab the CSV data.
  $.when($.get(csv_path)).then(function(data) {

    // Convert to wide, without regional data. We exclude regional data here
    // because it will be sectioned off into its own tab.
    var columnToExclude = 'region';
    var wide = tidyToWide(data, columnToExclude);

    document.dispatchEvent(new CustomEvent('IndicatorDataReady', {
      detail: {
        // A single series for the visualizations.
        years: wide.map(function(x) { return x.year; }),
        values: wide.map(function(x) { return x.all; }),
        // All of the data for the data table.
        wide: wide,
        // Tidy data for the map.
        tidy: data,
        indicator_id: '{{ slug }}'
      }
    }));
  });
})();

</script>